@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');

*{
    font-family: 'Raleway',sans-serif;
    padding: 0px;
    margin: 0px;
}

/* video styling */

.videoContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-attachment: scroll;
    overflow: hidden;
}
.videoContainer video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.overlay {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: rgba(0,0,0,0.80);
}

.intro{
    width: 60vw;
    text-align: center;
    font-weight: 700;
    color: white;
    opacity: 0.8;
}

.services-provided{
    color: #f60d54;
    font-size: 1.2rem;
    position: absolute;
    bottom: 80px;
    padding-right: 20px;
    width: 100%;
    text-align: center;

}

.team{
    width: 100%;
    font-size: 18px;
    color: #f60d54;
    font-weight: 500;
    text-align: center;
    position: absolute;
    bottom: 30px;
}

#vr {
    width:2.2px;
    background-color:#ffffff;
    height: 23px;
    position:absolute;
    bottom:0;
    left:50%;
    animation: linegrow 4s infinite;
}

@keyframes linegrow {
    0% {height: 23px;}
    50% {height: 43px;}
    100% {height: 23px;}
}

@media(max-width: 768px){
    .overlay h1{
        font-size: 2rem;
    }

}

@media(max-width: 480px){
    .overlay h1{
        font-size: 1.1rem;
    }

    .services-provided{
        font-size: 0.9rem;
        width: 85%;
        text-align: center;
    }



}


