.contact-us{
    height: 30vh;
    width: 100vw;
    display: flex;
    background: whitesmoke;
}

#lets-talk{
    height: 70vh;
}

#lets-talk h1 {
    position: relative;
}

#lets-talk h1:after {
    content: '';
    height: 5px;
    background: black;
    position: absolute;
    bottom: -7px;
    left: 0;
    transition: all 0.25s ease-out;
    width: 0;
    left: 0;
    animation: linehoveroff forwards .6s;
}

#lets-talk h1:hover:after {
    animation: linehover forwards .6s;
}

@keyframes linehover {
    0% {
        left: 0;
        width: 0;
    }
    100% {
        left: 0;
        width: 100%;
    }
}

@keyframes linehoveroff {
    0% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}

.address-container{
    flex: 1;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone-container{
    flex: 1;
    background: rgba(0,0,0,0.90);
    display: flex;
    align-items: center;
    justify-content: center;
}


.address{
    display: flex;
}

.contact{
    display: flex;
}

.address h4{
    font-weight: 700;
    font-size: 30px;
    color: white;
}   

.address p{
    color: white;
    font-size: 14px;
}

.address img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}


.contact h4{
    font-weight: 700;
    font-size: 30px;
    color: white;
}   

.contact p{
    color: white;
    font-size: 14px;
}

.contact img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

@media(max-width: 768px){

}

@media(max-width: 480px){
    .address, .contact{
        flex-direction: column;
        align-items: center;
    }
    .address img, .contact img{
        height: 40px;
        width: 40px;
        margin: 0;
    }

    .address h4, .contact h4 {
        font-size: 24px;
        text-align: center;
        padding-top: 7px;
    }

    .address p, .contact p {
        text-align: center;
    }

    #lets-talk h1 {
        font-size: 30px;
    }

    #lets-talk h1:after{
        animation: none;
        left: 0;
        width: 100%;
    }
}
