*{
    padding: 0;
    margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body{
	background: black;
	height: 100%;
	overflow: hidden; 
	background: #000000;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #333333;
}